Repository LeagueToolkit/LeagueToolkit, pull requests merged in 2023-01, with the labels that each got.

#197 feat: Add support for mapgeo buffer instancing
  src/LeagueToolkit.IO.Extensions/MapGeometry/MapGeometryGltfExtensions.cs
  src/LeagueToolkit.Sandbox/Program.cs
  src/LeagueToolkit.Tests/Core/Memory/InstancedVertexBufferTests.cs
  src/LeagueToolkit.Tests/Core/Memory/InstancedVertexBufferViewTests.cs
  src/LeagueToolkit/Converters/OBJConverter.cs
  src/LeagueToolkit/Core/Memory/IInstancedVertexBufferView.cs
  src/LeagueToolkit/Core/Memory/IVertexBufferView.cs
  src/LeagueToolkit/Core/Memory/InstancedVertexBuffer.cs
  src/LeagueToolkit/Core/Memory/InstancedVertexBufferView.cs
  src/LeagueToolkit/Core/Memory/VertexBuffer.cs
  src/LeagueToolkit/IO/MapGeometryFile/Builder/MapGeometryBuilder.cs
  src/LeagueToolkit/IO/MapGeometryFile/Builder/MapGeometryModelBuilder.cs
  src/LeagueToolkit/IO/MapGeometryFile/MapGeometry.cs
  src/LeagueToolkit/IO/MapGeometryFile/MapGeometryModel.cs
Labels: mapgeometry, memory

#200 feat: `SimpleSkin` refactor (now called `SkinnedMesh`)
  src/LeagueToolkit.IO.Extensions/LeagueToolkit.IO.Extensions.csproj
  src/LeagueToolkit.IO.Extensions/SimpleSkinFile/SimpleSkinGltfExtensions.cs
  src/LeagueToolkit.Sandbox/Program.cs
  src/LeagueToolkit/Converters/OBJConverter.cs
  src/LeagueToolkit/Core/Memory/VertexElement.cs
  src/LeagueToolkit/Core/Mesh/SkinnedMesh.cs
  src/LeagueToolkit/Core/Mesh/SkinnedMeshRange.cs
  src/LeagueToolkit/Helpers/Extensions/BinaryWriterExtensions.cs
  src/LeagueToolkit/Helpers/Structures/Color.cs
  src/LeagueToolkit/IO/OBJ/OBJFile.cs
  src/LeagueToolkit/IO/SimpleSkinFile/SimpleSkin.cs
  src/LeagueToolkit/IO/SimpleSkinFile/SimpleSkinSubmesh.cs
  src/LeagueToolkit/IO/SimpleSkinFile/SimpleSkinVertex.cs
Labels: simpleskin, animation, texture, gltf

#199 feat: Target net6.0
  src/LeagueToolkit.IO.Extensions/LeagueToolkit.IO.Extensions.csproj
  src/LeagueToolkit.Meta.Classes/LeagueToolkit.Meta.Classes.csproj
  src/LeagueToolkit/LeagueToolkit.csproj
  src/LeagueToolkit/packages.lock.json
Labels: devops

#188 feat: Use compile-time generated ReleaseManifest files
  src/LeagueToolkit/IO/ReleaseManifestFile/ReleaseManifest.cs
  src/LeagueToolkit/IO/ReleaseManifestFile/ReleaseManifestBody.cs
  src/LeagueToolkit/IO/ReleaseManifestFile/ReleaseManifestBody.fbs
  src/LeagueToolkit/IO/ReleaseManifestFile/ReleaseManifestBundle.cs
  src/LeagueToolkit/IO/ReleaseManifestFile/ReleaseManifestBundle.fbs
  src/LeagueToolkit/IO/ReleaseManifestFile/ReleaseManifestBundleChunk.cs
  src/LeagueToolkit/IO/ReleaseManifestFile/ReleaseManifestBundleChunk.fbs
  src/LeagueToolkit/IO/ReleaseManifestFile/ReleaseManifestChunkingParameter.cs
  src/LeagueToolkit/IO/ReleaseManifestFile/ReleaseManifestChunkingParameter.fbs
  src/LeagueToolkit/IO/ReleaseManifestFile/ReleaseManifestDirectory.cs
  src/LeagueToolkit/IO/ReleaseManifestFile/ReleaseManifestDirectory.fbs
  src/LeagueToolkit/IO/ReleaseManifestFile/ReleaseManifestEncryptionKey.cs
  src/LeagueToolkit/IO/ReleaseManifestFile/ReleaseManifestEncryptionKey.fbs
  src/LeagueToolkit/IO/ReleaseManifestFile/ReleaseManifestFile.cs
  src/LeagueToolkit/IO/ReleaseManifestFile/ReleaseManifestFile.fbs
  src/LeagueToolkit/IO/ReleaseManifestFile/ReleaseManifestLanguage.cs
  src/LeagueToolkit/IO/ReleaseManifestFile/ReleaseManifestLanguage.fbs
  src/LeagueToolkit/LeagueToolkit.csproj
  src/LeagueToolkit/packages.lock.json
Labels: releasemanifest

#202 feat: Create `Sphere` struct
  src/LeagueToolkit/Core/Mesh/SkinnedMesh.cs
  src/LeagueToolkit/Core/Primitives/Sphere.cs
  src/LeagueToolkit/Helpers/Extensions/BinaryReaderExtensions.cs
  src/LeagueToolkit/Helpers/Extensions/BinaryWriterExtensions.cs
  src/LeagueToolkit/Helpers/Structures/Box.cs
  src/LeagueToolkit/Helpers/Structures/R3DSphere.cs
  src/LeagueToolkit/IO/NVR/NVRMesh.cs
  src/LeagueToolkit/IO/WorldGeometry/WorldGeometryModel.cs
Labels: geometry

#203 feat: Move `Box` to `Primitives`
  src/LeagueToolkit/Core/Mesh/SkinnedMesh.cs
  src/LeagueToolkit/Core/Primitives/Box.cs
  src/LeagueToolkit/IO/MapGeometryFile/MapGeometryModel.cs
  src/LeagueToolkit/IO/MapGeometryFile/MapGeometryPlanarReflector.cs
  src/LeagueToolkit/IO/MapObjects/MOBObject.cs
  src/LeagueToolkit/IO/NVR/NVRNode.cs
  src/LeagueToolkit/IO/StaticObjectFile/StaticObject.cs
  src/LeagueToolkit/IO/WorldGeometry/WorldGeometryModel.cs
Labels: geometry

#205 feat: Refactor `BucketedGeometry`
  src/LeagueToolkit.IO.Extensions/MapGeometry/MapGeometryGltfExtensions.cs
  src/LeagueToolkit.Sandbox/Program.cs
  src/LeagueToolkit/Converters/WGEOConverter.cs
  src/LeagueToolkit/Core/Environment/EnvironmentVisibilityFlags.cs
  src/LeagueToolkit/Core/SceneGraph/BucketGrid.cs
  src/LeagueToolkit/Core/SceneGraph/BucketGridBucket.cs
  src/LeagueToolkit/Core/SceneGraph/BucketedGeometry.cs
  src/LeagueToolkit/Core/SceneGraph/GeometryBucket.cs
  src/LeagueToolkit/IO/MapGeometryFile/Builder/MapGeometryBuilder.cs
  src/LeagueToolkit/IO/MapGeometryFile/Builder/MapGeometryModelBuilder.cs
  src/LeagueToolkit/IO/MapGeometryFile/MapGeometry.cs
  src/LeagueToolkit/IO/MapGeometryFile/MapGeometryModel.cs
  src/LeagueToolkit/IO/WorldGeometry/WorldGeometry.cs
Labels: mapgeometry, geometry, scenegraph

#206 feat: Use System.Text.Json instead of Newtonsoft.Json for `MetaDump`
  src/LeagueToolkit/LeagueToolkit.csproj
  src/LeagueToolkit/Meta/Dump/MetaDump.cs
  src/LeagueToolkit/Meta/Dump/MetaDumpClass.cs
  src/LeagueToolkit/Meta/Dump/MetaDumpProperty.cs
  src/LeagueToolkit/packages.lock.json
Labels: meta

#207 feat: Fix tex size calculation for non-power-of-2 sizes
  src/LeagueToolkit/IO/TEXFile/TEX.cs
Labels: texture

#210 feat: Refactor Texture handling
  src/LeagueToolkit.Sandbox/LeagueToolkit.Sandbox.csproj
  src/LeagueToolkit.Sandbox/Program.cs
  src/LeagueToolkit/BCnEncoder.dll
  src/LeagueToolkit/Core/Renderer/Texture.cs
  src/LeagueToolkit/IO/TEXFile/TEX.cs
  src/LeagueToolkit/LeagueToolkit.csproj
  src/LeagueToolkit/Toolkit/TextureExtensions.cs
  src/LeagueToolkit/packages.lock.json
Labels: texture

#211 feat: Update Meta classes to 13.1.489.3737
  src/LeagueToolkit.Meta.Classes/Classes.cs
  src/LeagueToolkit.Meta.Classes/LeagueToolkit.Meta.Classes.csproj
  src/LeagueToolkit.Sandbox/Program.cs
Labels: meta

#213 feat: Refactor MapGeometry to glTF conversion
  src/LeagueToolkit.IO.Extensions/LeagueToolkit.IO.Extensions.csproj
  src/LeagueToolkit.IO.Extensions/MapGeometry/MapGeometryGltfExtensions.cs
  src/LeagueToolkit.Sandbox/Program.cs
  src/LeagueToolkit.sln
  src/LeagueToolkit/BCnEncoder.dll
  src/LeagueToolkit/Core/Renderer/Texture.cs
  src/LeagueToolkit/Meta/MetaEmbedded.cs
  src/LeagueToolkit/Meta/MetaSerializer.cs
  src/nuget.config
Labels: mapgeometry, refactor, texture

#217 feat: Refactor `Skeleton` to `RigResource` and Skinned Mesh glTF conversion
  src/LeagueToolkit.IO.Extensions/MapGeometry/MapGeometryGltfExtensions.cs
  src/LeagueToolkit.IO.Extensions/SimpleSkinFile/SimpleSkinGltfExtensions.cs
  src/LeagueToolkit.IO.Extensions/Utils/GltfUtils.cs
  src/LeagueToolkit.Sandbox/Program.cs
  src/LeagueToolkit/Core/Animation/Builders/JointBuiler.cs
  src/LeagueToolkit/Core/Animation/Builders/RigResourceBuilder.cs
  src/LeagueToolkit/Core/Animation/Joint.cs
  src/LeagueToolkit/Core/Animation/RigResource.cs
  src/LeagueToolkit/Helpers/Extensions/BinaryReaderExtensions.cs
  src/LeagueToolkit/Helpers/Extensions/BinaryWriterExtensions.cs
  src/LeagueToolkit/Helpers/Extensions/IReadOnlyListExtensions.cs
  src/LeagueToolkit/Helpers/Utilities.cs
  src/LeagueToolkit/IO/AnimationFile/Animation.cs
  src/LeagueToolkit/IO/SkeletonFile/Skeleton.cs
  src/LeagueToolkit/IO/SkeletonFile/SkeletonJoint.cs
  src/LeagueToolkit/packages.lock.json
Labels: simpleskin, gltf, geometry, skeleton

#221 feat: Refactor `LightGrid`
  src/LeagueToolkit.Sandbox/Program.cs
  src/LeagueToolkit/Core/Environment/LightGrid.cs
  src/LeagueToolkit/IO/LightGrid/LightGridFile.cs
  src/LeagueToolkit/IO/LightGrid/LightGridSun.cs
Labels: refactor
