Repository LeagueToolkit/LeagueToolkit, pull requests merged in 2023-02, with the labels that each got.

#222 feat: Refactor Animation handling
  src/LeagueToolkit.IO.Extensions/SimpleSkinFile/SimpleSkinGltfExtensions.cs
  src/LeagueToolkit.Sandbox/Program.cs
  src/LeagueToolkit/Core/Animation/Animation.cs
  src/LeagueToolkit/Core/Animation/AnimationAsset.cs
  src/LeagueToolkit/Core/Animation/CompressedAnimationAsset.cs
  src/LeagueToolkit/Core/Animation/CompressedFrame.cs
  src/LeagueToolkit/Core/Animation/CurveSampler.cs
  src/LeagueToolkit/Core/Animation/ErrorMetric.cs
  src/LeagueToolkit/Core/Animation/HotFrame.cs
  src/LeagueToolkit/Core/Animation/Interpolators.cs
  src/LeagueToolkit/Core/Animation/JumpFrame.cs
  src/LeagueToolkit/Core/Animation/UncompressedAnimationAsset.cs
  src/LeagueToolkit/Core/Animation/UncompressedFrame.cs
  src/LeagueToolkit/Core/Primitives/QuantizedQuaternion.cs
  src/LeagueToolkit/IO/AnimationFile/Animation.cs
  src/LeagueToolkit/IO/AnimationFile/AnimationTrack.cs
  src/LeagueToolkit/LeagueToolkit.csproj
Labels: animation, gltf

#223 Add 13.3.490.3613 meta classes
  src/LeagueToolkit.Meta.Classes/Classes.cs
Labels: meta

#225 Fix skn2gltf root node search
  src/LeagueToolkit.IO.Extensions/SimpleSkinFile/SimpleSkinGltfExtensions.cs
  src/LeagueToolkit.IO.Extensions/Utils/GltfUtils.cs
  src/LeagueToolkit.Sandbox/Program.cs
Labels: simpleskin, gltf, skeleton

#226 feat: Refactor `WadFile`
  src/LeagueToolkit.Sandbox/Program.cs
  src/LeagueToolkit/Core/Wad/WadBuilder.cs
  src/LeagueToolkit/Core/Wad/WadChunk.cs
  src/LeagueToolkit/Core/Wad/WadFile.cs
  src/LeagueToolkit/Core/Wad/WadUtils.cs
  src/LeagueToolkit/Hashing/XXHash.cs
  src/LeagueToolkit/Helpers/Utilities.cs
  src/LeagueToolkit/IO/ReleaseManifestFile/ReleaseManifest.cs
  src/LeagueToolkit/IO/WadFile/Wad.cs
  src/LeagueToolkit/IO/WadFile/WadBuilder.cs
  src/LeagueToolkit/IO/WadFile/WadEntry.cs
  src/LeagueToolkit/IO/WadFile/WadEntryBuilder.cs
  src/LeagueToolkit/IO/WadFile/WadEntryDataHandle.cs
  src/LeagueToolkit/LeagueToolkit.csproj
  src/LeagueToolkit/packages.lock.json
Labels: refactor, memory, wad

#228 Make csprojs consistent
  src/Common.props
  src/CommonNuget.props
  src/LeagueToolkit.IO.Extensions/LeagueToolkit.IO.Extensions.csproj
  src/LeagueToolkit.IO.Extensions/fantome.png
  src/LeagueToolkit.Meta.Classes/LeagueToolkit.Meta.Classes.csproj
  src/LeagueToolkit.Sandbox/LeagueToolkit.Sandbox.csproj
  src/LeagueToolkit.Tests/LeagueToolkit.Tests.csproj
  src/LeagueToolkit.sln
  src/LeagueToolkit/LeagueToolkit.csproj
  src/nuget.config
Labels: devops

#232 feat: Switch to zstd library that is not garbage
  src/LeagueToolkit/Core/Wad/WadBuilder.cs
  src/LeagueToolkit/Core/Wad/WadFile.cs
  src/LeagueToolkit/IO/ReleaseManifestFile/ReleaseManifest.cs
  src/LeagueToolkit/LeagueToolkit.csproj
  src/LeagueToolkit/packages.lock.json
Labels: devops, memory

#235 feat: Add `LoadChunkDecompressed` to `WadFile`
  src/LeagueToolkit.Sandbox/Program.cs
  src/LeagueToolkit/Core/Wad/WadFile.cs
Labels: memory, wad

#236 fix: Add questionable fix for duplicated rig joints during glTF conversion
  src/LeagueToolkit.IO.Extensions/SimpleSkinFile/SimpleSkinGltfExtensions.cs
  src/LeagueToolkit.Sandbox/Program.cs
Labels: animation, gltf, skeleton

#238 feat: Add nuke CI pipeline
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .nuke/build.schema.json
  .nuke/parameters.json
  .nuke/temp/execution-plan.html
  build.cmd
  build.ps1
  build.sh
  src/LeagueToolkit.IO.Extensions/LeagueToolkit.IO.Extensions.csproj
  src/LeagueToolkit.Sandbox/LeagueToolkit.Sandbox.csproj
  src/LeagueToolkit.sln
  src/LeagueToolkit/LeagueToolkit.csproj
  src/build/.editorconfig
  src/build/Build.cs
  src/build/Configuration.cs
  src/build/Directory.Build.props
  src/build/Directory.Build.targets
  src/build/_build.csproj
  src/build/_build.csproj.DotSettings
Labels: devops

#234 make Meta.Dump an own project
  src/LeagueToolkit.Meta.Dump/LeagueToolkit.Meta.Dump.csproj
  src/LeagueToolkit.Meta.Dump/MetaDump.cs
  src/LeagueToolkit.Meta.Dump/MetaDumpClass.cs
  src/LeagueToolkit.Meta.Dump/MetaDumpProperty.cs
  src/LeagueToolkit.Sandbox/LeagueToolkit.Sandbox.csproj
  src/LeagueToolkit.sln
  src/LeagueToolkit/IO/PropertyBin/BinUtilities.cs
  src/LeagueToolkit/LeagueToolkit.csproj
  src/LeagueToolkit/packages.lock.json
  src/build/_build.csproj.DotSettings
Labels: meta, devops

#240 Fix `CompressedAnimationAsset` evaluation hot frame initialization
  src/LeagueToolkit.Sandbox/Program.cs
  src/LeagueToolkit/Core/Animation/CompressedAnimationAsset.cs
Labels: animation

#245 feat: Refactor `MapGeometry` and `WorldGeometry` into `EnvironmentAsset`
  src/LeagueToolkit.IO.Extensions/MapGeometry/MapGeometryGltfExtensions.cs
  src/LeagueToolkit.IO.Extensions/SimpleSkinFile/SimpleSkinGltfExtensions.cs
  src/LeagueToolkit.IO.Extensions/Utils/GltfUtils.cs
  src/LeagueToolkit.Sandbox/Program.cs
  src/LeagueToolkit.Tests/Core/Memory/IndexBufferTests.cs
  src/LeagueToolkit/Converters/OBJConverter.cs
  src/LeagueToolkit/Converters/WGEOConverter.cs
  src/LeagueToolkit/Core/Environment/Builder/MapGeometryBuilder.cs
  src/LeagueToolkit/Core/Environment/Builder/MapGeometryModelBuilder.cs
  src/LeagueToolkit/Core/Environment/EnvironmentAsset.cs
  src/LeagueToolkit/Core/Environment/EnvironmentAssetBakedTerrainSamplers.cs
  src/LeagueToolkit/Core/Environment/EnvironmentAssetMesh.cs
  src/LeagueToolkit/Core/Environment/EnvironmentAssetMeshPrimitive.cs
  src/LeagueToolkit/Core/Environment/EnvironmentAssetSampler.cs
  src/LeagueToolkit/Core/Environment/EnvironmentVisibility.cs
  src/LeagueToolkit/Core/Environment/EnvironmentVisibilityFlags.cs
  src/LeagueToolkit/Core/Memory/IndexArray.cs
  src/LeagueToolkit/Core/Memory/IndexBuffer.cs
  src/LeagueToolkit/Core/Mesh/SkinnedMesh.cs
  src/LeagueToolkit/Core/Meta/BinTree.cs
  src/LeagueToolkit/Core/SceneGraph/BucketedGeometry.cs
  src/LeagueToolkit/IO/MapGeometryFile/MapGeometry.cs
  src/LeagueToolkit/IO/MapGeometryFile/MapGeometryBakedTerrainSamplers.cs
  src/LeagueToolkit/IO/MapGeometryFile/MapGeometryModel.cs
  src/LeagueToolkit/IO/MapGeometryFile/MapGeometrySamplerData.cs
  src/LeagueToolkit/IO/MapGeometryFile/MapGeometrySubmesh.cs
  src/LeagueToolkit/IO/WorldGeometry/WorldGeometry.cs
  src/LeagueToolkit/IO/WorldGeometry/WorldGeometryModel.cs
  src/LeagueToolkit/IO/WorldGeometry/WorldGeometryVertex.cs
Labels: mapgeometry, refactor, memory

#247 feat: Add `BinTreePropertyDictionaryExtensions`
  src/LeagueToolkit.Tests/Core/Meta/BinTreePropertyDictionaryExtensionsTests.cs
  src/LeagueToolkit/Core/Meta/BinTreeProperty.cs
Labels: propertybin

#249 feat: Refactor EnvironmentAsset glTF conversion to use shader adapters
  src/LeagueToolkit.IO.Extensions/MapGeometry/MapGeometryGltfExtensions.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/MaterialAdapter.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/AlphaTestEnv.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/DefaultEnv.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/DefaultEnvFlat.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/DefaultEnvFlatAlphaTest.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/DefaultEnvFlatAlphaTestDoubleSided.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/EmissiveBasic.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/EnvGlow.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/EnvTileableDiffuse.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/OdFlowMap.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/SinFadeAlpha.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/SrxBlendChemtechDecal.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/SrxBlendChemtechGround.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/SrxBlendCloudGround.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/SrxBlendCloudWindZone.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/SrxBlendEarthGround.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/SrxBlendEarthIsland.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/SrxBlendEarthRocks.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/SrxBlendGenericIsland.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/SrxBlendHextechDragon.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/SrxBlendHextechGround.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/SrxBlendHextechIsland.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/SrxBlendInfernalDragon.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/SrxBlendInfernalGround.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/SrxBlendInfernalIsland.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/SrxBlendMaster.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/SrxBlendOcean.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/SrxBrush.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/StaticMeshHologram.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/TextureUtils.cs
  src/LeagueToolkit.Sandbox/Program.cs
  src/LeagueToolkit/Core/Environment/EnvironmentAssetMesh.cs
Labels: mapgeometry, refactor, gltf

#250 feat: Add support for reading `SimpleEnvironment` into `EnvironmentAsset`
  src/LeagueToolkit.IO.Extensions/MapGeometry/MapGeometryGltfExtensions.cs
  src/LeagueToolkit.Sandbox/Program.cs
  src/LeagueToolkit/Converters/OBJConverter.cs
  src/LeagueToolkit/Core/Environment/EnvironmentAsset.cs
  src/LeagueToolkit/Core/Environment/EnvironmentAssetMesh.cs
  src/LeagueToolkit/Core/Environment/SimpleEnvironment/QuadTreeNode.cs
  src/LeagueToolkit/Core/Environment/SimpleEnvironment/SimpleEnvironmentChannel.cs
  src/LeagueToolkit/Core/Environment/SimpleEnvironment/SimpleEnvironmentMaterial.cs
  src/LeagueToolkit/Core/Environment/SimpleEnvironment/SimpleEnvironmentMesh.cs
  src/LeagueToolkit/Core/Environment/SimpleEnvironment/SimpleEnvironmentMeshPrimitive.cs
  src/LeagueToolkit/IO/NVR/NVRChannel.cs
  src/LeagueToolkit/IO/NVR/NVRDrawIndexedPrimitive.cs
  src/LeagueToolkit/IO/NVR/NVRFile.cs
  src/LeagueToolkit/IO/NVR/NVRIndexBuffer.cs
  src/LeagueToolkit/IO/NVR/NVRMaterial.cs
  src/LeagueToolkit/IO/NVR/NVRMesh.cs
  src/LeagueToolkit/IO/NVR/NVRNode.cs
  src/LeagueToolkit/IO/NVR/NVRVertex.cs
  src/LeagueToolkit/IO/NVR/NVRVertexBuffer.cs
Labels: mapgeometry, refactor, gltf

#252 feat: Rename `EnvironmentAssetSampler` to `EnvironmentAssetChannel`
  src/LeagueToolkit.IO.Extensions/MapGeometry/MapGeometryGltfExtensions.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/DefaultEnv.cs
  src/LeagueToolkit/Core/Environment/Builder/EnvironmentAssetMeshBuilder.cs
  src/LeagueToolkit/Core/Environment/EnvironmentAssetChannel.cs
  src/LeagueToolkit/Core/Environment/EnvironmentAssetMesh.cs
Labels: mapgeometry, refactor

#253 feat: Rename texcoord vertex elements
  src/LeagueToolkit.IO.Extensions/SimpleSkinFile/SimpleSkinGltfExtensions.cs
  src/LeagueToolkit.IO.Extensions/Utils/GltfUtils.cs
  src/LeagueToolkit.Sandbox/Program.cs
  src/LeagueToolkit.Tests/Core/Memory/InstancedVertexBufferViewTests.cs
  src/LeagueToolkit.Tests/Core/Memory/VertexBufferTests.cs
  src/LeagueToolkit.Tests/Core/Memory/VertexBufferWriterTests.cs
  src/LeagueToolkit.Tests/Core/Memory/VertexElementArrayTests.cs
  src/LeagueToolkit/Converters/OBJConverter.cs
  src/LeagueToolkit/Core/Environment/EnvironmentAsset.cs
  src/LeagueToolkit/Core/Memory/VertexBufferDescription.cs
  src/LeagueToolkit/Core/Memory/VertexElement.cs
  src/LeagueToolkit/Core/Mesh/SkinnedMesh.cs
Labels: mapgeometry, refactor

#255 feat: Refactor `StaticObject` into `StaticMesh`
  src/LeagueToolkit.IO.Extensions/StaticObjectFile/StaticObjectGltfExtensions.cs
  src/LeagueToolkit.IO.Extensions/StaticObjectFile/StaticObjectObjExtensions.cs
  src/LeagueToolkit.Sandbox/Program.cs
  src/LeagueToolkit/Core/Mesh/StaticMesh.cs
  src/LeagueToolkit/Core/Mesh/StaticMeshFace.cs
  src/LeagueToolkit/Helpers/Structures/Color.cs
  src/LeagueToolkit/IO/StaticObjectFile/StaticObject.cs
  src/LeagueToolkit/IO/StaticObjectFile/StaticObjectFace.cs
  src/LeagueToolkit/IO/StaticObjectFile/StaticObjectSubmesh.cs
  src/LeagueToolkit/IO/StaticObjectFile/StaticObjectVertex.cs
Labels: staticmesh, refactor

#256 feat: Refactor LeagueFileUtils
  src/LeagueToolkit.Tests/Utilities/LeagueFileTests.cs
  src/LeagueToolkit/Helpers/Compression.cs
  src/LeagueToolkit/Helpers/FileVersionProvider.cs
  src/LeagueToolkit/Helpers/Utilities.cs
  src/LeagueToolkit/Utils/LeagueFile.cs
Labels: refactor, utils
