Repository LeagueToolkit/LeagueToolkit, pull requests merged in 2023-04, with the labels that each got.

#261 internal: `MetaSerializer` cleanup
  src/LeagueToolkit.Tests/Meta/MetaSerializerTests.cs
  src/LeagueToolkit/Meta/MetaEmbedded.cs
  src/LeagueToolkit/Meta/MetaSerializer.cs
Labels: internal

#260 Fix gzip decompression
  src/LeagueToolkit/Core/Wad/WadFile.cs
  src/LeagueToolkit/Utils/Extensions/StreamExtensions.cs
Labels: bug, wad

#262 internal: Change preferred namespace declaration to be file-scoped
  src/LeagueToolkit/.editorconfig
Labels: devops, internal

#264 Implement support for MapGeometry version 14
  src/LeagueToolkit/Core/Environment/EnvironmentAsset.cs
  src/LeagueToolkit/Core/Environment/EnvironmentAssetMesh.cs
Labels: mapgeometry

#265 Fix TEXCOORD_5 MapGeometry conversion issue
  src/LeagueToolkit.IO.Extensions/Utils/GltfUtils.cs
  src/LeagueToolkit.Sandbox/Program.cs
Labels: mapgeometry, gltf

#266 Fix default technique resolving during EnvironmentAsset to glTF conversion
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/DefaultEnv.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/EnvGlow.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/SrxBlendChemtechDecal.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/SrxBlendCloudWindZone.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/SrxBlendGenericIsland.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/SrxBlendHextechIsland.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/SrxBlendInfernalIsland.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/SrxBlendMaster.cs
  src/LeagueToolkit.IO.Extensions/MapGeometry/Shaders/SrxBrush.cs
Labels: bug, mapgeometry, gltf

#270 feat: Add support for ZstdChunked Wad chunks
  src/LeagueToolkit.Sandbox/Program.cs
  src/LeagueToolkit/Core/Wad/WadFile.cs
  src/LeagueToolkit/Core/Wad/WadSubchunk.cs
Labels: memory, wad

#272 Update meta classes to version `13.8.505.1214`
  src/LeagueToolkit.Meta.Classes/Classes.cs
  src/LeagueToolkit.Meta.Classes/LeagueToolkit.Meta.Classes.csproj
  src/LeagueToolkit.Meta.Dump/MetaDump.cs
  src/LeagueToolkit.Sandbox/Program.cs
Labels: meta
